[submodule "protobuf"]
	path = protobuf
	url = https://github.com/ilhammhdd/kudaki-protobuf.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/ilhammhdd/kudaki-user-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/ilhammhdd/kudaki-gateway-service.git
[submodule "docker-tools"]
	path = docker-tools
	url = https://github.com/ilhammhdd/kudaki-docker-tools.git
[submodule "entities"]
	path = entities
	url = https://github.com/ilhammhdd/kudaki-entities.git
[submodule "kudaki-android"]
	path = kudaki-android
	url = https://github.com/yudantoanas/kudaki-android
[submodule "store-service"]
	path = store-service
	url = https://github.com/ilhammhdd/kudaki-store-service.git
[submodule "rental-service"]
	path = rental-service
	url = https://github.com/ilhammhdd/kudaki-rental-service.git
[submodule "externals"]
	path = externals
	url = https://github.com/ilhammhdd/kudaki-externals.git
