[submodule "protobuf"]
	path = protobuf
	url = https://github.com/ilhammhdd/kudaki-protobuf.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/ilhammhdd/kudaki-user-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/ilhammhdd/kudaki-gateway-service.git
